<nav>
  <ul class="menu">
    <li>
      <a routerLink="/home">
         Home
      </a>
    </li>
    <li>
      <a routerLink="/doctor">
         Admin
      </a>
    </li>
    <li>
      <a routerLink="/patient">
        Patient
      </a>
    </li>
    <li>
      <a routerLink="/login">
         Login
      </a>
    </li>
    <li>
      <a routerLink="/Registration">
         Registration
      </a>

    </li>
    <li>
      <a routerLink="/doctordetails">
         Doctor
      </a>
      
    </li>
    <li>
      <a routerLink="/appointment">
         Appointment
      </a>
      
    </li>
    <li>
      <a routerLink="/logout">
         Logout
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

  