.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  font-weight: bold;
  color: #555555;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder {
  color: #999999;
}

.login-form .button-container {
  text-align: center;
}

.login-button {
  background-color:rgb(145, 210, 48);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color:rgb(93, 122, 50);
}
