
<h2 class="form-heading">Appointment Form</h2>

<form class="appointment-form" (submit)="registerAppointment()">
  <div>
    <label>Patient Name:</label>
    <input type="text" [(ngModel)]="appointment.pName" name="pName" required>
  </div>
  
  <div>
    <label>Patient Address:</label>
    <input type="text" [(ngModel)]="appointment.pAddress" name="pAddress" required>
  </div>
  
  <div>
    <label>Patient Age:</label>
    <input type="number" [(ngModel)]="appointment.pAge" name="pAge" required>
  </div>
  
  <div>
    <label>Doctor ID:</label>
    <input type="number" [(ngModel)]="appointment.dId" name="dId" required>
  </div>
  
  <div>
    <button type="submit">Register Appointment</button>
  </div>
</form>